@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
